.left {
    float: left;
}
.right {
    float: right;
}
.clear {
    clear: both;
}

#main {
    background: #fff none repeat scroll 0 0;
    border-radius: 5px;
    margin: 5px auto 0;
    padding-top: 10px;
    width: 1000px;
}
#l_about {
    background: rgba(0, 0, 0, 0) url("../images/r_line.jpg") repeat-x scroll 0 60px;
    width: 690px;
}
#l_about .tongy {
    background: rgba(0, 0, 0, 0) url("../images/bi.jpg") no-repeat scroll 0 0;
    height: 60px;
    width: 690px;
}
#l_about .tongy .tg_1 {
    color: #90c;
    font-size: 14px;
    font-weight: 600;
    padding: 30px 0 10px 65px;
}
#l_about .tongy .tg_1 h1 {
    color: #f36;
    display: inline;
    font-size: 17px;
    font-weight: 600;
}
#l_about .tongy .tg_1 .shouye a {
    color: #06f;
    font-size: 17px;
}
#l_about .tongy .tg_1 a {
    color: #90c;
    font-size: 17px;
}
#l_about .tongy .tg_1 span {
    color: #90c;
    font-size: 14px;
    font-weight: 600;
    padding-left: 5px;
}
#l_about .tongy .tg_1 a:hover {
    text-decoration: underline;
}
#main_r .fk {
    padding: 20px 0 0 5px;
    width: 295px;
}
.fk p {
    color: #6c646f;
    font-size: 16px;
    font-weight: 600;
}
.fk ul div {
    float: left;
    padding: 5px 2px;
}
.fk .fk_1 {
    color: #c36;
}
#l_about #a_text {
    color: #000;
    font-size: 17px;
    line-height: 25px;
    margin-top: 10px;
    width: 680px;
}
#a_text #about_img {
    margin: 5px 10px 5px 3px;
    width: 300px;
}
#a_text #about_me {
    font-size: 14px;
    width: 365px;
}
#a_text #about_me p {
    color: #e73877;
    font-size: 17px;
    font-weight: 600;
    padding: 5px 0;
}
#a_text #about_me ul li {
    font-size: 14px;
    font-weight: 500;
    line-height: 30px;
    text-indent: 2em;
}
#a_text #about_me ul li img {
    margin: 2px 0 5px 30px;
}
#a_text #about_me ul li a {
    color: #0e0303;
    font-size: 16px;
}
#a_text #about_me ul li span {
    color: #f00;
}
#a_text #about_me #tx .tx_header {
    color: #e73877;
    font-size: 17px;
    font-weight: 600;
    padding: 3px 0 0;
}
#a_text #about_me #tx .tx_text {
    color: #000;
    font-size: 14px;
    font-weight: 500;
    line-height: 26px;
    text-indent: 2em;
}
#ganwu p {
    color: #130707;
    font-size: 16px;
    text-indent: 2em;
}
#l_about .mb_fenlei {
    color: #000;
    font-size: 17px;
    height: 60px;
    line-height: 25px;
    margin-top: 10px;
    width: 680px;
}
.mb_fenlei .mb_geren {
    background: #fa656b none repeat scroll 0 0;
    border-radius: 3px;
    box-shadow: 2px 2px 10px #7e747e;
    font-size: 16px;
    font-weight: 500;
    height: 30px;
    line-height: 30px;
    margin: 10px 0 2px 30px;
    text-align: center;
    width: 180px;
}
.mb_fenlei .mb_geren a {
    color: #fff;
    font-size: 16px;
}
.mb_fenlei .mb_wp {
    background: #fa656b none repeat scroll 0 0;
    border-radius: 3px;
    box-shadow: 2px 2px 10px #7e747e;
    font-size: 16px;
    font-weight: 500;
    height: 30px;
    line-height: 30px;
    margin: 10px 20px 2px 40px;
    text-align: center;
    width: 180px;
}
.mb_fenlei .mb_wp a {
    color: #fff;
    font-size: 16px;
}
#l_about #mb_list {
    color: #000;
    font-size: 17px;
    line-height: 25px;
    margin-top: 10px;
    width: 680px;
}
.mb_fenlei .mb_qiye {
    background: #fa656b none repeat scroll 0 0;
    border-radius: 3px;
    box-shadow: 2px 2px 10px #7e747e;
    font-size: 16px;
    font-weight: 500;
    height: 30px;
    line-height: 30px;
    margin: 10px 0 2px 30px;
    text-align: center;
    width: 180px;
}
.mb_fenlei .mb_qiye a {
    color: #fff;
    font-size: 16px;
}
.mb_fenlei .dede-video {
    background: #fa656b none repeat scroll 0 0;
    border-radius: 3px;
    box-shadow: 2px 2px 10px #7e747e;
    font-size: 16px;
    font-weight: 500;
    height: 30px;
    line-height: 30px;
    margin: 10px 30px 2px 50px;
    text-align: center;
    width: 165px;
}
.mb_fenlei .dede-video a {
    color: #fff;
    font-size: 16px;
}
.mb_fenlei .wp-video {
    background: #fa656b none repeat scroll 0 0;
    border-radius: 3px;
    box-shadow: 2px 2px 10px #7e747e;
    font-size: 16px;
    font-weight: 500;
    height: 30px;
    line-height: 30px;
    margin: 10px 30px 2px 10px;
    text-align: center;
    width: 165px;
}
.mb_fenlei .wp-video a {
    color: #fff;
    font-size: 16px;
}
.mb_fenlei .web-video {
    background: #fa656b none repeat scroll 0 0;
    border-radius: 3px;
    box-shadow: 2px 2px 10px #7e747e;
    font-size: 16px;
    font-weight: 500;
    height: 30px;
    line-height: 30px;
    margin: 10px 30px 2px 10px;
    text-align: center;
    width: 165px;
}
.mb_fenlei .web-video a {
    color: #fff;
    font-size: 16px;
}
.mb_fenlei h2:hover {
    background: #3157ec none repeat scroll 0 0;
}
#l_about .txt {
    margin-top: 20px;
    width: 680px;
}
#l_about .a_time {
    background: #fff none repeat scroll 0 0;
    border-radius: 6px;
    margin: 20px auto;
    width: 680px;
}
.a_time ul li {
    float: left;
    list-style: outside none none;
    margin: 5px 0 0 10px;
}
#l_time {
    background: rgba(0, 0, 0, 0) url("../images/r_line.jpg") repeat-x scroll 0 60px;
    height: 65px;
    width: 1000px;
}
#l_time .tongy {
    background: rgba(0, 0, 0, 0) url("../images/bi.jpg") no-repeat scroll 0 0;
    height: 60px;
    width: 1000px;
}
#l_time .tongy .tg_1 {
    color: #90c;
    font-family: "Arial";
    font-size: 14px;
    font-weight: 600;
    padding: 30px 0 10px 65px;
}
#l_time .tongy .tg_1 h1 {
    color: #f36;
    display: inline;
    font-size: 17px;
    font-weight: 600;
}
#l_time .tongy .tg_1 .shouye a {
    color: #06f;
    font-size: 17px;
}
#l_time .tongy .tg_1 a {
    color: #90c;
    font-size: 17px;
}
#l_time .tongy .tg_1 span {
    color: #90c;
    font-size: 14px;
    font-weight: 600;
    padding-left: 5px;
}
#l_time .tongy .tg_1 a:hover {
    text-decoration: underline;
}
#l_time .sl {
    margin: 0 auto;
    width: 830px;
}
#l_time .sl ul li {
    float: left;
    padding: 8px 3px 0;
}
#main #s_about {
    background: rgba(0, 0, 0, 0) url("../images/r_line.jpg") repeat-x scroll 0 60px;
    width: 1000px;
}
#s_about .tongy {
    background: rgba(0, 0, 0, 0) url("../images/bi.jpg") no-repeat scroll 0 0;
    height: 70px;
    width: 980px;
}
#s_about .tongy .tg_1 {
    color: #90c;
    float: left;
    font-family: "Arial";
    font-size: 14px;
    padding: 30px 0 10px 65px;
}
#s_about .tongy .tg_1 h1 {
    color: #f36;
    display: inline;
    font-size: 17px;
    font-weight: 600;
}
#s_about .tongy .tg_1 .shouye a {
    color: #06f;
    font-size: 17px;
}
#s_about .tongy .tg_1 span {
    color: #90c;
    font-size: 14px;
    font-weight: 600;
    padding-left: 5px;
}
#s_about .tongy p {
    color: #ec6104;
    float: right;
    font-size: 16px;
    padding: 30px 10px 0 0;
}
#s_about #a_say {
    width: 1000px;
}
#s_about .say_out {
    height: 130px;
    position: relative;
    width: 1000px;
}
.say_out .my_pic {
    background: rgba(0, 0, 0, 0) url("../img/line_bg.jpg") repeat-y scroll 48px 0;
    height: 130px;
    margin-left: 15px;
    opacity: 0.9;
    width: 100px;
}
.say_out .my_pic img {
    border-radius: 50px;
    margin: 5px auto;
}
.say_out .my_text {
    background: #f8f8f8 none repeat scroll 0 0;
    border: 1px solid #e2dfdf;
    border-radius: 5px;
    color: #10200a;
    display: block;
    font-family: "ו";
    font-size: 14px;
    height: 100px;
    margin-top: 10px;
    width: 800px;
}
.my_text p {
    height: 70px;
    padding: 10px;
    width: 810px;
}
.my_text p span {
    background: #ee5a5a none repeat scroll 0 0;
    border-radius: 3px;
    bottom: 32px;
    color: #fff;
    display: block;
    font-size: 14px;
    height: 25px;
    line-height: 25px;
    position: absolute;
    right: 18px;
    text-align: center;
    width: 85px;
}
.say_out::before {
    border-color: transparent transparent transparent #fff;
    border-style: solid;
    border-width: 0 0 20px 22px;
    content: "";
    height: 0;
    left: 115px;
    position: absolute;
    top: 42px;
    width: 0;
}
.say_out::after {
    background: #ccccce none repeat scroll 0 0;
    border: 2px solid #fff;
    border-radius: 50%;
    content: "";
    height: 10px;
    left: 139px;
    position: absolute;
    top: 38px;
    transition: all 0.5s ease 0s;
    width: 10px;
}
.say_out:hover::before {
    border-color: transparent transparent transparent #cecccd;
}
.say_out:hover::after {
    background: #999 none repeat scroll 0 0;
    border: 2px solid #fff;
}
.my_text:hover {
    background: #f4f2f2 none repeat scroll 0 0;
    color: #333;
}
#main {
    background: #fff none repeat scroll 0 0;
    border-radius: 5px;
    margin: 5px auto 0;
    padding-top: 10px;
    width: 1000px;
}
.menu {
    background: rgba(0, 0, 0, 0) url("../images/r_line.jpg") repeat-x scroll 0 60px;
    height: 70px;
    width: 1000px;
}
.menu .tongy {
    background: rgba(0, 0, 0, 0) url("../images/bi.jpg") no-repeat scroll 0 0;
    height: 60px;
    width: 1000px;
}
.menu .tongy .tg_1 {
    color: #90c;
    float: left;
    font-family: "Arial";
    font-size: 14px;
    font-weight: 600;
    padding: 30px 0 10px 65px;
}
.menu .tongy .tg_1 h1 {
    color: #f36;
    display: inline;
    font-size: 17px;
    font-weight: 600;
}
.menu .tongy .tg_1 .shouye a {
    color: #06f;
    font-size: 17px;
}
.menu .tongy .tg_1 a {
    color: #90c;
    font-size: 17px;
}
.menu .tongy .tg_1 span {
    color: #90c;
    font-size: 14px;
    font-weight: 600;
    padding-left: 5px;
}
.menu .tongy .tg_1 a:hover {
    text-decoration: underline;
}
.menu .tongy .tg_1 .lanm {
    color: #06f;
    font-size: 17px;
}
.menu .tongy p {
    color: #ec6104;
    float: right;
    font-size: 16px;
    padding: 30px 15px 0 0;
}
#learn {
    margin-top: 10px;
    width: 630px;
}
#main .lm_fenlei {
    font-size: 16px;
    font-weight: 500;
    height: 50px;
    margin: 5px auto;
    width: 950px;
}
#main .lm_fenlei ul li {
    background: #4670f5 none repeat scroll 0 0;
    border-radius: 3px;
    box-shadow: 2px 2px 10px #7e747e;
    color: #fff;
    cursor: pointer;
    display: block;
    float: left;
    height: 32px;
    line-height: 32px;
    margin: 5px 25px 0;
    text-align: center;
    width: 185px;
}
#main .lm_fenlei ul li a {
    color: #fff;
}
#main .lm_fenlei ul li:hover {
    background-color: #fa656b;
    display: block;
    height: 32px;
    width: 185px;
}
#main_r .jianli {
    background: #fafafc none repeat scroll 0 0;
    border: 1px solid #f7d6e3;
    border-radius: 3px;
    margin: 0 0 10px 10px;
    width: 284px;
}
.jianli .jl_1 {
    color: #f45;
    font-size: 16px;
    font-weight: 600;
    padding: 2px;
    text-align: center;
}
.jianli .jl_2 {
    color: #575656;
    font-size: 14px;
    font-weight: 500;
    line-height: 25px;
    padding: 5px;
    text-indent: 20px;
    width: 275px;
}
.jianli a {
    color: #e25817;
    font-size: 15px;
    font-weight: 500;
}
.jianli a:hover {
    text-decoration: underline;
}
#bdcs-search-inline {
    border-radius: 4px;
}
#bdcs-search-form {
    border-radius: 4px;
}
#bdcs-search-form-input {
    color: #222;
}
#bdcs-hot {
    padding-left: 10px;
}
#bdcs-hot a {
    color: #666;
}
#bdcs-hot a:hover {
    color: #333;
    text-decoration: underline;
}
#main_r .Article {
    padding-left: 5px;
    width: 295px;
}
.Article p {
    color: #90c;
    font-size: 16px;
    font-weight: 600;
    height: 25px;
    line-height: 25px;
}
.Article p span {
    color: #f36;
}
.Article ul #news_1 {
    position: relative;
    width: 300px;
}
.Article ul li {
    color: #0088db;
    font-size: 14px;
    font-weight: 600;
    height: 25px;
    line-height: 25px;
    list-style: inside none square;
    overflow: hidden;
    width: 300px;
}
.Article ul #news {
    background: rgba(0, 0, 0, 0) url("../images/new.gif") no-repeat scroll right top;
    height: 30px;
    position: absolute;
    right: 0;
    top: 5px;
    width: 30px;
}
.Article ul li a {
    color: #685a5a;
}
.Article ul li a:hover {
    color: #f86375;
    text-decoration: underline;
}
#a_say #fy {
    width: 700px;
}
#main #n1 {
    background: #fffcfc none repeat scroll 0 0;
    width: 680px;
}
#n1 h1 {
    color: #0088db;
    font-family: "ו";
    font-size: 24px;
    padding-top: 10px;
    text-align: center;
}
#n1 #author {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #999 -moz-use-text-color;
    border-image: none;
    border-style: dashed none;
    border-width: 1px 0;
    color: #ac5a24;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    margin-top: 10px;
    overflow: hidden;
    width: 680px;
}
#author ul li {
    float: left;
    text-align: center;
    width: 155px;
}
#author .choose {
    width: 180px;
}
#author ul #xzb {
    padding-left: 110px;
}
#author #Browse {
    padding-left: 28px;
}
#author ul li span {
    color: #f36;
}
#author ul #w-default, #w-center, #w-big {
    background: rgba(40, 42, 210, 0.6) none repeat scroll 0 0;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    width: 30px;
}
#author ul #w-default:hover, #w-center:hover, #w-big:hover {
    background: rgba(23, 34, 24, 0.5) none repeat scroll 0 0;
    text-decoration: underline;
}
#n1 #wenzi {
    color: #1a1919;
    font-size: 14px;
    line-height: 28px;
    margin-top: 10px;
    overflow: hidden;
    width: 680px;
}
#n1 #wenzi p {
    font-size: 16px;
    padding: 2px 5px 3px 10px;
}
#n1 #wenzi a {
    color: #03c;
}
#n1 #wenzi a:hover {
    color: red;
    text-decoration: underline;
}
#n1 #sponsor {
    font-size: 16px;
    width: 680px;
}
#n1 .sponsor-text {
    line-height: 35px;
    padding-top: 50px;
    width: 512px;
}
#n1 .sponsor-text span {
    color: #f00;
}
#n1 #xg_text {
    font-size: 16px;
    font-weight: 500;
    padding: 10px 0;
    width: 630px;
}
#xg_text a:hover {
    color: #f36;
}
#xg_text p {
    color: #90c;
    font-weight: 500;
    padding-bottom: 10px;
}
#xg_text p span {
    color: #e24f21;
    font-size: 17px;
    font-weight: 600;
}
#xg_text ul li {
    float: left;
    margin: 5px auto;
    text-align: center;
    width: 310px;
}
#xg_text ul li a {
    color: #0e070c;
    font-weight: 500;
}
#xg_text ul li img {
    display: inline;
}
#xg_text ul li .xg_link {
    display: block;
    height: 24px;
    margin-bottom: 5px;
    overflow: hidden;
    width: 300px;
}
#n1 .share {
    height: 30px;
    width: 630px;
}
#tuijian {
    background: #fff none repeat scroll 0 0;
}
#n1 .new_share {
    position: relative;
    width: 670px;
}
.new_share .shangxia {
    width: 410px;
}
.new_share #share-text {
    bottom: 5px;
    position: absolute;
    right: -15px;
    z-index: 22;
}
#share-text p, #bdshare {
    color: #ccc;
    display: inline-block;
    float: left;
}
#share-text p {
    color: #d73434;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    width: 170px;
}
#share-text #bdshare {
    width: 200px;
}
.back-btn {
    bottom: 50px;
    height: 130px;
    left: 50%;
    margin-left: 560px;
    position: fixed;
    width: 33px;
}
.back-btn {
}
.back-btn .back-top a {
    background: rgba(0, 0, 0, 0) url("../images/topes_03.png") no-repeat scroll 0 0;
    display: block;
    font-size: 0;
    height: 130px;
    line-height: 500px;
    overflow: hidden;
    width: 33px;
}
#l_about #a_guestbook {
    margin-top: 10px;
    width: 680px;
}
#a_guestbook h2 {
    height: 35px;
    line-height: 35px;
}
#a_guestbook h2 a {
    color: #e0521e;
    font-size: 18px;
}
#a_guestbook h2 span {
    color: #407f8b;
    font-size: 16px;
}
#a_guestbook h2 span:hover {
    text-decoration: underline;
}
#music {
    display: none;
    height: 200px;
    width: 680px;
}
#learn {
    margin-top: 10px;
    width: 630px;
}
.dede_pages {
}
.dede_pages ul {
    float: left;
    padding: 12px 0 12px 16px;
}
.dede_pages ul li {
    border: 1px solid #dcf;
    border-radius: 4px;
    color: #f0c;
    float: left;
    font-family: Tahoma;
    font-size: 16px;
    font-weight: 500;
    height: 20px;
    line-height: 20px;
    margin-right: 6px;
    text-align: center;
}
.dede_pages ul li a {
    color: #d7594c;
    display: block;
    float: left;
    font-weight: 500;
    height: 16px;
    line-height: 16px;
    padding: 2px 4px;
    text-align: center;
}
.dede_pages ul li a:hover {
    color: #f0c;
    padding: 2px 4px 0;
    text-decoration: none;
}
.dede_pages ul li.thisclass, .dede_pages ul li.thisclass a, .pagebox ul li.thisclass a:hover {
    background-color: #f8f8f8;
    font-weight: bold;
    padding: 2px 4px;
}
.dede_pages .pageinfo {
    color: #999;
    font-size: 16px;
    height: 20px;
    line-height: 20px;
    padding: 12px 10px 12px 16px;
}
.dede_pages .pageinfo strong {
    color: #555;
    font-weight: normal;
    margin: 0 2px;
}
#ad {
    width: 100%;
}
#ad p {
    color: #f56;
    font-size: 18px;
    font-weight: 500;
    margin-top: 10px;
}
#jquery-overlay {
    height: 500px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 90;
}
#jquery-lightbox {
    left: 0;
    line-height: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 100;
}
#jquery-lightbox a img {
    border: medium none;
}
#lightbox-container-image-box {
    background-color: #fff;
    height: 250px;
    margin: 0 auto;
    position: relative;
    width: 250px;
}
#lightbox-container-image {
    padding: 10px;
}
#lightbox-loading {
    height: 25%;
    left: 0;
    line-height: 0;
    position: absolute;
    text-align: center;
    top: 40%;
    width: 100%;
}
#lightbox-nav {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
}
#lightbox-container-image-box > #lightbox-nav {
    left: 0;
}
#lightbox-nav a {
    outline: medium none;
}
#lightbox-nav-btnPrev, #lightbox-nav-btnNext {
    display: block;
    height: 100%;
    width: 49%;
}
#lightbox-nav-btnPrev {
    float: left;
    left: 0;
}
#lightbox-nav-btnNext {
    float: right;
    right: 0;
}
#lightbox-container-image-data-box {
    background-color: #fff;
    font: 10px/1.4em Verdana,Helvetica,sans-serif;
    margin: 0 auto;
    overflow: auto;
    padding: 0 10px;
    width: 100%;
}
#lightbox-container-image-data {
    color: #666;
    padding: 0 10px;
}
#lightbox-container-image-data #lightbox-image-details {
    float: left;
    text-align: left;
    width: 70%;
}
#lightbox-image-details-caption {
    font-weight: bold;
}
#lightbox-image-details-currentNumber {
    clear: left;
    display: block;
    padding-bottom: 1em;
}
#lightbox-secNav-btnClose {
    float: right;
    padding-bottom: 0.7em;
    width: 66px;
}

.introduce_date{
    background: #ee5a5a none repeat scroll 0 0;
    border-radius: 3px;
    bottom: 32px;
    color: #fff;
    display: block;
    font-size: 14px;
    height: 25px;
    line-height: 25px;
    position: absolute;
    right: 18px;
    text-align: center;
    width: 85px;
   
}   
